body {
    background-color: #E8E3DB;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    color: #383838;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

a {
    color: indianred;
}

a:hover {
    color: rgb(206, 122, 122);
}

.instructions {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.smaller {
    font-size: 16px;
}

.button {
    color: whitesmoke;
    font-size: 16px;
    padding: 9px 25px;
    background-color: indianred;
    border-style: none;
    border-radius: 25px;
}

.button:hover {
    background-color: rgb(206, 122, 122);
    color: whitesmoke;
}

#stop-button {
    padding: 9px 50px;
    position: absolute;
    bottom: 70px;
}

/* Option selections form */
.options-form {
    padding-top: 20px;
}

.custom-control-inline {
    margin-right: 50px;
    margin-bottom: 20px;
}

/* Fonts */

.arial-bold {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pt-mono {
    font-family: 'PT Mono', monospace;
}

.montserrat {
    font-family:  'Montserrat', sans-serif;
}

/* Colours */
.high-contrast{
    background-color: white;
    color: black;
}

.mild-contrast{
    background-color:#E8E3DB;
    color: #383838;
}

.dark-contrast {
    background-color:#494949;
    color: #dadada; 
}

/* Footer */
footer {
    padding-top: 40px;
    font-size: 12px;
    text-align: center;
}

#screen-2 {
    min-height: 100vh;
    font-size: 100px;
    position: absolute;
    top: 0;
}

/* hide control */

.hide {
    visibility: hidden;
}
